<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routeLink="/dashboard"><i class="fa fa-dashboard mr-2"></i> Dashboard</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content-style">
    <mat-toolbar class="color-nav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><i class="fa fa-dashboard mr-2"></i> Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container" >
      <div class="row form-group mt-5">
        <div class="col-md-12">
          <mat-card>
            <h5>Hello admin joseph</h5>
            

          </mat-card>
        </div>
      </div>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>
