<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><h4>My First angular using material design</h4></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <div class="container">
      <div class="row form-group mt-5">
        <div class="col-md-12">
          <mat-card>
              <mat-card-header>
                 <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Arabil Carbonel</mat-card-title>
                <mat-card-subtitle>BSIT</mat-card-subtitle>
              </mat-card-header>
              <hr>
            
            <mat-card-content>
                <H4>Personal information</H4>
                   <div class="row form-group">
                     <div class="col-md-1"><strong>Firstname:</strong></div>
                      <div class="col-md-3">Arabil</div> 
                   </div>
                   <div class="row form-group">
                      <div class="col-md-1"><strong>Middlename:</strong></div>
                       <div class="col-md-3">L.</div> 
                    </div>
                    <div class="row form-group">
                        <div class="col-md-1"><strong>Lastname:</strong></div>
                         <div class="col-md-3">Carbonell</div> 
                      </div>      
            </mat-card-content>
            
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div> 
    </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

